body{
    background-color: #fcf5f5;
}
.page1 {
    margin:auto;
    background-color: #f2d7c9;
    margin-top:80px;
    height: 100vh; 
    width:85%;
}
.page1-about{
    max-width: 60%;
    padding:40px;
    float:left;
    
    
}
.page1-image{
   padding-top:90px;
    
}
.page2{
    height:100vh;
    width:85%;
    margin:auto;
    background-color: #E5989B;
    
}
.page2-education{
    
    padding:40px;
    float:left;
}
.alignleft{
    text-align:left;
    float:left;
    font-family: century;
    font-size:18px; 
    
}
.alignright{
    text-align:right;
    float:right;
    font-family: century;
    font-size:18px; 
    margin-left:400px;
}
.page3{
    height:175vh;
    width:85%;
    margin:auto;
    background-color: #B5838D;
    
}
.page3-work{
    padding: 40px;
    float: left;
}
.page4{
    height:100vh;
}
h3{
    
    margin:0px;
    padding:0px;
}
h2{
    font-family: 'Garamond';
}
h4{
    margin:0px;
    padding:0px;
}
li{
    font-family: century;
    font-size:18px;
    line-height: 1.5;
}